In [31]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

from sklearn.metrics import recall_score, precision_score, confusion_matrix, classification_report, roc_auc_score

import joblib

In [32]:
classifier = joblib.load('Model_LR.jbl')

In [33]:
df = pd.read_csv('bank-additional-full.csv', sep=';')
df.education = df.education.apply(lambda x : x.replace(".", " "))
df['education'] = df['education'].map({'basic 4y':1
                              , 'basic 6y':2
                              , 'basic 9y' :3
                              , "high school":4
                              , "university degree":5
                              , 'professional course':6
                              , 'illiterate':0
                              , 'unknown':0
                             })
df.drop(columns=['y', 'duration', 'campaign'], inplace=True)
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
0,56,housemaid,married,1,no,no,no,telephone,may,mon,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
1,57,services,married,4,unknown,no,no,telephone,may,mon,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
2,37,services,married,4,no,yes,no,telephone,may,mon,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
3,40,admin.,married,2,no,no,no,telephone,may,mon,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
4,56,services,married,4,no,no,yes,telephone,may,mon,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0

In [34]:
classifier.predict_proba(pd.DataFrame(df.loc[3]).T)[0][1]

0.44218293881435056